<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>title: <%= data.title %></p>
    <p>tag: <%= data.tag %></p>
    <p>author: <%= data.author %></p>
    <p>content: <%= data.content %></p>
    <p>time: <%= data.time %></p>

    <% if(comments.length){ %>
        <p>comments:</p>
        <% for(let i = 0;i < comments.length;i ++){ %>
            <p><%= comments[i].content %></p>
        <% } %>
    <% }else{ %>
        <p>暂无评论</p>
    <% }; %>
   

    <form action="/article/<%= data.id %>.html" method="post">
        <p>comment: <textarea name="comment"></textarea></p>
        <input type="submit">
    </form>
</body>
</html>