<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>标题：<%= data[0].title %></h3>
    <h3>类型：<%= data[0].tag %></h3>
    <h3>作者：<%= data[0].author %></h3>
    <p>内容：<%= data[0].content %></p>
    <h3>发布时间：<%= data[0].time %></h3>
    <p>评论区</p>
    <% if(comment.length){ %>
        <% for(let i in comment){ %>
            <p><%= comment[i].content %>&nbsp;&nbsp;&nbsp;&nbsp;<span>评论时间: <%= comment[i].time %></span></p>
        <% } %>
    <% }else{ %>
        <p>暂无评论</p>
    <% } %>
    <form action="/article/<%= data[0].id %>.html" method="post">
        <p>评论：</p><input type="text" name="content" />
        <input type="submit" />
    </form>
</body>
</html>