<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_products_admin.css">
</head>
<body>
    <div id="wrap">
        <h3 class="header">产品管理</h3>
        <% if(locals.flowersPlusAdministrator || admin){ %>
            <div class="productsCon">
                <ul class="list">
						<li class="on">
							<span>序号</span>
							<span>物品ID</span>
							<span>物品名</span>
							<span>所属分类</span>
							<span>价格</span>
							<span>库存</span>
							<span>描述</span>
						</li>
                        <% for(let i = 0;i < data.length;i ++){ %>
                            <li class="product">
                                <span><%= data[i].id %></span>
                                <span><%= data[i].pNo %></span>
                                <span><%= data[i].name %></span>
                                <span><%= data[i].type %></span>
                                <span><%= data[i].price %></span>
                                <span><%= data[i].num %></span>
                                <textarea noresize=""><%= data[i].description %></textarea>
                                <span><img src='../../img/update.png'></span>
                                <span><img src='../../img/buy/iconfont-close-tiny.png'></span>
                            </li>
                        <% }; %>
                </ul>
                <div class="add">添加新产品</div>
            </div>
        <% }else{ %>
            <a href="/">该用户无此权限，点击进入首页</a>
        <% }; %>
    </div>
</body>
</html>